<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">
      <%= form_with model: @posts, url: post_path(@posts), method: :patch do |f| %>
          <div class="form-group">
              <%= f.label :genre_id, 'ジャンル' %>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "--選択してください--" }, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :caption, 'レビュータイトル' %>
              <%= f.text_field :caption, size: "50", placeholder: "ここにレビュータイトルを記述します", class: "form-control" %>
            </div>
            <div class="">
              <%= f.label :star, '☆評価' %>
              <%= render "public/posts/starform", post: @posts %>
            </div>
            <div class="form-group">
            <%= f.label :tag_ids, '既存のタグから選択' %>
            <%= f.collection_select :tag_ids, @tags, :id, :name, 
              { include_blank: '--選択しない--' }, 
              { multiple: true, class: "form-control", id: "tag-selector" } %>
            </div>
            <div class="form-group" id="new-tags-group">
              <%= f.label :new_tags, '新しいタグ(作品タイトル)' %>
              <%= f.text_field :new_tags, name: "post[new_tags][]", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :address, '住所' %>
              <%= f.text_field :address, size: "50", placeholder: "ここに住所を記述します", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :body, '説明' %>
              <%= f.text_area :body, rows: 5, cols: 52, placeholder: "ここに説明文を記述します", class: "form-control" %>
            </div>
            <div class="form-group">
             <%= f.label :images, '画像' %>
             <%= f.file_field :images, multiple: true, accept: "image/*", class: "form-control-file", id: "image-input" %>
             <div id="image-preview" class="mt-3"></div>
            </div>
            <div class="form-action">
              <%= f.submit "編集を完了する", class: "btn btn-success btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

