<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">

    <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <%= form_with model: @post,url: posts_path, method: :post do |f| %>
     <h2>レビュー投稿</h2>
      <table>
        <tr>
         <div class="form-group">
          <th><%= f.label :ジャンル %></th>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %></td>
         </div>
         </tr>
        <tr>
          <div class="form-group">
           <th><%= f.label :レビュータイトル %></th>
           <td><%= f.text_field :caption, size: "50", placeholder:"ここにレビュータイトルを記述します" %></td>
        </tr>
        <tr>
          <div class="form-group">
            <th><%= f.label :作品タグ %></th>
            <td><%= f.text_field :tag_names, placeholder:"ここに作品名を記述します" %></td>
          </div>
        </tr>
        <tr>
        <div class="form-group">
          <th><%= f.label :住所 %></th>
          <td><%= f.text_field :address, size: "50", placeholder:"ここに住所を記述します" %></td>
        </div>
        </tr>
        <tr>

        </tr>
        <tr>
          <div class="form-group">
            <th><%= f.label :説明 %></th>
            <td><%= f.text_area :body, size: "52x5", placeholder:"ここに説明文を記述します" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <th><%= f.label :画像 %></th>
            <th><%= f.file_field :images, multiple: true, accept: "images/*" %></th>
          </div>
        </tr>
        <!-- ☆評価ボタン -->
        <%= render "public/posts/starform", post: @post %>

        <div class="form-action">
          <th><%= f.submit "新規投稿", class:"btn btn-success" %></th>
        </div>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
