<div class="container">
  <h4 class="m-4"><span style="background-color:#eeeeee">投稿</span></h4>
</div>
    
    <div class="container">
     <table class="table table-borderless">
      <tbody>
      <tr>
        <td>ジャンル</td>
        <td><%= @post.genre.name %></td>
      </tr>
      <tr>
        <td>タイトル</td>
        <td><%= @post.title %></td>
      </tr>
      <tr>
       <td>住所</td>
        <td><%= @post.address %></td>
      </tr>
      <tr>
        <td>画像</td>
        <td>
          <% @post.get_images.each do |image| %>
            <%= image_tag image, size:'200x200' %>
          <% end %>
        </td>
      </tr>
    </tbody>
    </table>
</div>
</div>
</div> <span></span>

<div class="container mb-4">
 <% if user_signed_in? && current_user.id == @post.user_id %>
 <%= link_to '編集する', edit_post_path(@post.id), class: 'btn btn-success  px-4' %>
 <%= link_to '削除する', post_path(@post.id), method: :delete, class: 'btn btn-success  px-4', data: {confirm: "この削除しますか？"} %>
 <% end %>
</div>
