<div class="container">
  <h4 class="m-4"><span style="background-color:#eeeeee"><%= @post.caption %></span></h4>
</div>
    
    <div class="container">
     <table class="table-sm table-borderless">
      <tbody>
       <tr>
        <td>
          <% @post.get_images.each do |image| %>
            <%= image_tag image, size:'200x200' %>
          <% end %>
        </td>
       </tr>
        <tr>
         <td>作品タイトル</td>
         <td><%= @post.title %></td>
        </tr>
        <tr>
         <td>レビュー</td>
         <td><%= @post.body %></td>
        </tr>
        <tr>
         <td>ジャンル</td>
         <td><%= @post.genre.name %></td>
        </tr>
        <tr>
        <td>住所</td>
         <td><%= @post.address %></td>
        </tr>
        <tr>
         <td>投稿者</td>
         <td><%= @post.user.name %></td>
        </tr> 
      </tr>

    </tbody>
    </table>
</div>
</div>
</div> 

<div class="container">
<h5 class="m-4"><span style="background-color:#eeeeee">コメント：<%= @post.comments.count %>件</span></h5>
</div>

<div class="container">
<table class="table table-borderless">
 <tbody>
  <% @post.comments.each do |comment| %>
 <tr>
  <td>
    <%= image_tag comment.user.get_image, size:'50x50' %>
    <%= comment.body %><br>
    <%= comment.user.name %><br>
    <%= comment.created_at.strftime('%Y/%m/%d') %>  
    <%= link_to "削除",[comment.post, comment], method: :delete, data: {confirm: "このコメントを削除しますか？"} %>  
  </td>
 </tr>
   <% end %>
  </tbody>
  </table>
</div>

</br>
<div class="container">
 <%= link_to '編集する', edit_admin_post_path(@post.id), class: 'btn btn-success  px-4' %>
 <%= link_to '削除する', admin_post_path(@post), method: :delete, class: 'btn btn-success  px-4', data: {confirm: "この投稿を削除しますか？"} %>
</div>



