<div class="container">
  <div class="card mb-3">
    <div class="card-header bg-light">
      <h4 class="m-4"><span><%= @post.caption %></span></h4>
    </div>
    <div class="card-body">
      <% @post.get_images.each do |image| %>
        <%= image_tag image, size: '200x200', class: "img-thumbnail mr-2 mb-2" %>
      <% end %>
      <p class="card-text">ジャンル: <%= @post.genre.name %></p>
      <p class="card-text">作品タグ: <%= @post.tags.map(&:name).join('') %></p>
      <p class="card-text">レビュー文: <%= @post.body %></p>
      <p class="card-text">住所: <a href="<%= @post.google_maps_url %>" target="_blank">
       <%= @post.address %></a></p>
      <p class="card-text">投稿者: <%= link_to @post.user.name, admin_user_path(@post.user) %></p>
      <p class="card-text"><%= render "public/posts/starform", post: @post %></p>
      <%= render "public/favorites/btn", post: @post %>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="card mb-3 border-0">
   <div class="card-header border-0" style="padding-top: 0; padding-bottom: 0;">
    <h5 class="m-4"><span>コメント：<%= @post.comments.count %>件</span></h5>
   </div>
    <div class="card-body">
    <div class="mb-3">
      <% @post.comments.each do |comment| %>
        <div class="card mb-2 border-0"> <!-- カードのふちを非表示に -->
          <div class="card-body">
            <%= image_tag comment.user.get_image, size: '50x50', class: "img-thumbnail float-left mr-2" %>
            <p class="card-text"><strong><%= comment.user.name %></strong><br>
              <%= comment.body %><br>
              <%= comment.created_at.strftime('%Y/%m/%d') %></p>
              <%= link_to "削除", admin_post_comment_path(@post, comment), method: :delete, data: { confirm: "このコメントを削除しますか？" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
    <%= link_to '投稿を編集する', edit_admin_post_path(@post.id), class: 'btn btn-success mr-2' %>
    <%= link_to '投稿を削除する', destroy_admin_post_path(@post), method: :delete, class: 'btn btn-danger', data: { confirm: "この投稿を削除しますか？" } %>
</div>




