<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
    <%= form_with model: @user, url: users_my_page_path, method: :patch do |f| %>
      <table>
      <tr>
       <div class="form-group">
        <th><%= f.label :ユーザー名 %></th>
        <td><%= f.text_field :name, placeholder:"ユーザー名" %></td>
       </div>
      </tr>
      <tr>
       <div class="form-group">
        <th><%= f.label :メールアドレス %></th>
        <td><%= f.text_field :email, placeholder:"メールアドレス" %></td>
      </div>
      </tr>
       <tr>
        <div class="form-group">
          <th><%= f.label :プロフィール画像 %></th>
          <th><%= f.file_field :image, accept: "image/*" %></th>
        </div>
       </tr>
        <tr>
        <div class="form-action">
          <th><%= f.submit "変更を保存", class:"btn btn-success" %></th>
        </div>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>

